.App {
  background-color: #d8dbd5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #f1f1f1;
  min-height: 100vh;
  position: relative;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px;
  padding: 0px;
}

.leftPane {
  width: 30%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.mainPane {
  position: relative;
  width: 70%;
  height: 100vh;
  background-image: url('../src/assets/background.png');
}

.inputChat :focus {
  border: '1px solid red' !important;
}
.bottomPane {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f0f0f0;
}
.onlineUsers {
  color: black;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  background-color: #dcf8c6;
  padding-left: 30px;
  padding-top: 10px;
}

@media only screen and (max-width: 1300px) {
  .content {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #fff;
    min-height: 100vh;
    position: relative;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

@media only screen and (min-width: 1366px) {
  .content {
    width: 70%;
    height: 100vh;
    display: flex;
    background-color: #fff;
    min-height: 100vh;
    position: relative;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
